<div class="row">

  <div class="col-lg-3">

    <app-category></app-category>

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <!-- <div class="row"> -->

    <!-- <app-search></app-search> -->

    <br>


    <div class="row">

      <div class="col-12 col-md-4">
        <div class="img-thumbnail">
          <img [src]="book.image_url" width="250" height="300" alt="">
        </div>
      </div>

      <div class="col-12 col-md-8">
        <h3>{{book.name}}</h3>
        <hr>
        <p>{{book.description}}</p>
        <hr>
        <h4>Price: {{book.unit_price|currency}}</h4>
        <hr>
        <h6>Qty. Available: {{book.units_in_stock}}</h6>
        <hr>
        <a class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back</a>
        <a class="btn btn-success ml-1"><i class="fas fa-cart-arrow-down"></i> Add To Cart</a>

      </div>
    </div>

    <!-- </div> -->
    <!-- /.row -->

  </div>
  <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
